<h1>anagram</h1>
<form action="/anagram">
  <input id="compare_word" name="compare_word">
  <label for='compare_word'> Word to compare </label>
  <input id='word_list' name='word_list'>
  <label for='word_list'> Word list </label>
  <button type='submit'> submit </button>

</form>
